
    <div class="p-4 rounded ">
        <h5 class="text-md-left text-center">Update Billing Information: </h5>
        Cupon Code here
        <form>
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label>First Name / Company Name</label>
                        <i class="mdi mdi-account ml-3 icons"></i>
                        <input name="name" id="first" type="text" class="form-control pl-5" placeholder="First Name :">
                    </div>
                </div><!--end col-->
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label>Last Name</label>
                        <i class="mdi mdi-account-plus ml-3 icons"></i>
                        <input name="name" id="last" type="text" class="form-control pl-5" placeholder="Last Name :">
                    </div>
                </div><!--end col-->
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label>Billing Email</label>
                        <i class="mdi mdi-email ml-3 icons"></i>
                        <input name="email" id="email" type="email" class="form-control pl-5" placeholder="Your email :">
                    </div>
                </div><!--end col-->
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label>Billing Address Line 1</label>
                        <input name="name" id="occupation" type="text" class="form-control pl-5" placeholder="">
                    </div>
                </div><!--end col-->
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label>Billing Address Line 2</label>
                        <input name="name" id="occupation" type="text" class="form-control pl-5" placeholder="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label>City</label>
                        <input name="name" id="occupation" type="text" class="form-control pl-5" placeholder="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label>ZIP / Post Code</label>
                        <input name="name" id="occupation" type="text" class="form-control pl-5" placeholder="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label>Country</label>
                        <input name="name" id="occupation" type="text" class="form-control pl-5" placeholder="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label>Tax ID</label>
                        <input name="name" id="occupation" type="text" class="form-control pl-5" placeholder="">
                    </div>
                </div>
            </div><!--end row-->
            <div class="row">
                <div class="col-sm-12">
                    <input type="submit" id="submit" name="send" class="btn btn-primary" value="Save Changes">
                </div><!--end col-->
            </div><!--end row-->
        </form><!--end form-->
    </div>
