option_settings:
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIATULW74S47C2MAN4G
  - option_name: AWS_SECRET_ACCESS_KEY
    value: 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
  - option_name: USER_POOL_ID
    value: us-east-1_tWYFHPnwq
  - option_name: CLIENT_ID
    value: 6cb6cboefcl1a2santkqo042tk
  - option_name: CLIENT_SECRET
    value: 1c835lebq60rjuljai6q19s70ghfcmv9bcdh0msht1gmfe6b7qtb
  - option_name: REGION
    value: us-east-1
  - option_name: AWS_DB_USERNAME
    value: devdbUser
  - option_name: AWS_DB_PASSWORD
    value: 1b3e89cbb8a84369be556f2b5b11a09f
  - option_name: AWS_DB_NAME
    value: trendlab_dev_db
  - option_name: AWS_DB_HOST
    value: trendlab-dev-db.cdiqw2z7xkku.us-east-1.rds.amazonaws.com
  - option_name: AWS_DB_PORT
    value: 5432
