{% load static %}

<!-- Navbar STart -->
<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>
        <!-- Logo container-->
        <div>
            <a class="logo" href="/">TrendLab<span class="text-primary">.</span></a>
        </div>
        <!-- End Logo container -->


        <div id="navigation">
            {% if user.is_authenticated %}
                <!-- <div class="buy-button pr-4">
                    <a href="/" class="btn btn-outline-light">Log Out</a>
                </div> -->
                <div class="buy-button dropdown">
                    <button href="" class="btn btn-white dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"data-offset="9"><img src="{% static 'images/user/avatar.png' %}" class="img-fluid avatar avatar-ex-sm mr-2 rounded-pill" alt="">user.name</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/settings" style="line-height: 40px;">Interests / Alerts</a>
                      <a class="dropdown-item" href="/settings#pills-cloud" style="line-height: 40px;">Settings</a>
                      <a class="dropdown-item" href="/logout" style="line-height: 40px;">Log out</a>
                    </div>
                </div>
                <div class="buy-button">
                    <span class="badge badge-primary rounded mr-2 mb-2">3 Reports</span>
                </div>
            {% else %}
                <div class="buy-button">
                    <a href="#pricing" class="btn btn-primary">Get Started</a>
                </div>
                <div class="buy-button pr-4">
                    <a href="/login" class="btn btn-outline-light">Log In</a>
                </div>
            {% endif %}

            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li><a href="/"></a></li>
                <li><a href="/">Search</a></li>
                <li><a href="/#pricing">Pricing</a></li>
                <li><a href="/#benefits">Benefits</a></li>
            </ul><!--end navigation menu-->

            <div class="buy-menu-btn d-none">
              <a href="#pricing" class="badge badge-light mr-2 mb-2">Get Started</a>
            </div><!--end login button-->
            <div class="buy-menu-btn d-none">
                <a href="/login" class="badge badge-light mr-2 mb-2">Log In</a>
            </div>

        </div><!--end navigation-->
    </div><!--end container-->
</header><!--end header-->
<!-- Navbar End -->
