.autocomplete-container{
  margin-top:-19px;
  padding-top:19px;
  border:;
  text-align: left;
  color:#3c4858;
  box-shadow: 0 0 3px rgba(0,0,0,0.15) !important;
  display:none;
  position:absolute;
  z-index:1009;
  background:#fff;
  width:100%;
}
.autocomplete-element{
  padding: 1px 0px;
  padding-left: 30px;
}

.autocomplete-element:hover{
  background: rgba(120,120,120,0.1);
  cursor: pointer;
}
.autocomplete-term{

}
.autocomplete-term-topic{
  color: #5881df !important;
  font-size: 0.85rem;
}
#trend-search-input{
  position: relative;
  z-index: 1020;
}
.search-text-btn{
  z-index: 1025;
}
.z-index-l3{
  z-index:1031 !important;
}

#news-items-nav span {
  cursor:pointer;
}
#top-regions-nav span {
  cursor:pointer;
}
#related-queries-nav span {
  cursor:pointer;
}
#related-topic-nav span {
  cursor:pointer;
}
